.form-list {
    padding: 10px;
    .add-row-button {

    }
    .form-list-items {
        margin: 10px 0;
        .form-list-row {
            margin-bottom: 10px;
            input {
                padding: 10px 5px;
                margin: 0;
                height: 20px;
                font-size: 12px;
                width: 100%;
            }
            .form-list-item-key {

            }
            .form-list-item-value {

            }
            a {
                display: block;
            }
            &--new {

            }
            &--remove {

            }
        }
    }
}